/* importacion de estilos escritos en otros ficheros. */
@import './started.css' all;
@import './stylesForInterface_light.css' all;
@import './stylesForInterface_dark.css' all;

html::-webkit-scrollbar,
    html::-webkit-scrollbar-button,
    html::-webkit-scrollbar-thumb
    {
        appearance: none;
    }
    html::-webkit-scrollbar {
        width: 6px;
        height: auto;
        background-color: none;
    }
    html::-webkit-scrollbar-button {
        display: none;
    }
    html::-webkit-scrollbar-thumb {
        width:6px;
        background-color: var(--barScroll-color);
        border-radius: 1em;
    }

/* quitando la barra de scroll cuando se inicia la aplicacion */
html[data-start]::-webkit-scrollbar {
    display: none;
}

img#miniOfUser {
    position: absolute;
    right: 1px;
    top: 1px;
    border-radius: 50%;
    z-index: 40;
    cursor: pointer;
    scale:1;
    transition: 200ms scale ease;
}
img#miniOfUser:hover {
    scale:0.9;
}

body, html {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
div.chConfig {
    position: fixed;
    z-index: 44;
    bottom: 0px;
    left: 0px;
    width: calc(100vw - 8px);
    padding: 8px;
    font: bolder 1.2em monospace;
    background-color: #444;
    color: white;
    text-align: center;
    visibility: hidden;
}

div.chConfig.visible {
    visibility: visible;
}

div.profile {
    z-index: 44;
    position: fixed;
    top:54px;
    left:0px;
    bottom: auto;
    right: auto;
    width: 100vw;
    height: calc(100vh - 54px);
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: start;
    opacity: 0;
    transition: 1250ms opacity linear;
}
div.profile.visible {
    opacity: 1;
}