/* estilos para el tema osccuro */
body.dark header.appName {
    background-color: transparent;
    display:grid;
    height: 54px;
    grid-template-columns: 52px max-content 50px;
    grid-template-rows: 52px;
    grid-auto-flow: row;
    column-gap: 2px;
    row-gap: auto;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-items: start;
    justify-content: var( --position-MarkX);
}

body.dark header.appName h1 {
    margin:0px;
    width: max-content;
    visibility: hidden;
    color: yellow;
    font: darker 1.6em monospace;
    transition: 500ms visibility linear;
}
body.dark header.appName:hover h1 {
    visibility: visible;
}

body.dark div.profile {
    background-color: rgba(25, 0, 255, 0.719);
}
body.dark div.profile figure {
    background-color: white;
    border-radius: 1em;
    padding:10px;
}
body.dark div.profile figure img {
    border-radius: 50%;
    cursor: default;
}
body.dark div.profile figure figcaption {
    text-align: center;
    background-color: yellow;
    padding: 8px;
    color: black;
    font:bold 1.8em monospace;
    border-radius: 1em;
}
body.dark div.profile figure div.email {
    color: gray;
    text-align: center;
    cursor: default;
    font: bolder 1.2em sans-serif;
}
body.dark div.profile figure div.toolAccount {
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
body.dark div.wconfigAccount {
    z-index: 44;
    background-color: rgba(43, 27, 53, 0.644);
    width:100vw;
    height: calc(100vh - 54px);
    position:fixed;
    top:55px;
    left:0px;
    opacity: 0;
    transition: 400ms opacity linear;
    overflow-x:hidden;
    overflow-y: auto;
}
body.dark div.wconfigAccount::-webkit-scrollbar,
body.dark div.wconfigAccount::-webkit-scrollbar-button,
body.dark div.wconfigAccount::-webkit-scrollbar-track,
body.dark div.wconfigAccount::-webkit-scrollbar-thumb,
body.dark div.wconfigAccount::-webkit-scrollbar-corner {
    appearance: none;
}
body.dark div.wconfigAccount::-webkit-scrollbar {
    width: 10px;
    height: auto;
    /* background-color: var(--barScroll-color); */
}
body.dark div.wconfigAccount::-webkit-scrollbar-button {
    display: none;
}
body.dark div.wconfigAccount::-webkit-scrollbar-track {
    background-color: transparent;
}
body.dark div.wconfigAccount::-webkit-scrollbar-thumb {
    background-color: var(--barScroll-color);
    width: 10px;
    border-radius: 5px;
}
body.dark div.wconfigAccount.show {
    opacity: 1;
}
body.dark div.wconfigAccount div.controls {
    background-color: transparent;
    padding:2px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
body.dark div.wconfigAccount div.controls svg {
    transform: scale(1);
    transition: 300ms transform linear;
}
body.dark div.wconfigAccount div.controls svg:hover {
    transform: scale(1.2);
}

body.dark div.wconfigAccount div.theAssemblage-thumbnails *::selection {
    background-color: transparent;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails {
    background-color: white;
    display: grid;
    margin: 0px;
    margin-top: 20px;
    min-width: 300px;
    min-height: 300px;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: repeat(5, 20%);
    grid-auto-flow: row;
    grid-auto-rows: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: space-around;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails figure {
    background-color: transparent;
    z-index: 4;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    grid-column: 1 / span 6;
    grid-row: 1 / span 5;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails figure img {
    width: 100%;
    height: auto;
    filter: opacity(100%);
    transition: 300ms filter linear;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails figure img.hidden {
    filter: opacity(0%);
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails figure figcaption {
    background-color: transparent;
    padding:2px;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails figure figcaption input {
    border-radius: 1em;
    background-color: black;
    text-indent: 8px;
    color: white;
    font-size: 1.6em;
    font-family: monospace;
    outline: none;
    border: none;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails svg {
    z-index: 8;
    transform: scale(1);
    transition: 300ms transform ease;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails svg:hover {
    transform: scale(0.8);
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails svg.left {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails svg.right {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
}
body.dark div.wconfigAccount div.theAssemblage-thumbnails svg.collapce-allImages {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

}
body.dark div.wconfigAccount div.theAssemblage-thumbnails figure figcaption input::placeholder {
    color: yellow;
}
body.dark div.wconfigAccount div.properties {
    background-color: transparent;
    padding: 2px;
    color: white;
}
body.dark div.wconfigAccount div.properties table {
    margin: 0px 0px 0px 0px;
    margin:auto;
}
body.dark div.wconfigAccount div.properties table, 
body.dark div.wconfigAccount div.properties table tbody,
body.dark div.wconfigAccount div.properties table tbody tr,
body.dark div.wconfigAccount div.properties table tbody tr th,
body.dark div.wconfigAccount div.properties table tbody tr td
{
    color: white;
    font-size: 1.02em;
    font-family: monospace;
    border: none;
    border-collapse: separate;
    border-spacing:16px 0px;
    padding: 2px;
}
body.dark div.wconfigAccount div.properties table caption {
    color: white;
    padding: 2px;
    font-size: 1.3em;
    text-decoration:solid white underline;
    font-family: monospace;

} 
body.dark div.wconfigAccount div.properties table tbody tr td select {
    background-color: black;
    color: white;
}
body.dark div.wconfigAccount div.properties label {
    display: block;
    margin-top: 10px;
    padding:2px;
    font:bold 1.4em monospace;
    text-align: center;
}
body.dark div.wconfigAccount div.properties input::placeholder {
    color: red;
}
body.dark div.wconfigAccount div.properties input {
    background-color: transparent;
    text-align: left;
    color: white;
    display: flex;
    margin: auto;
    padding:2px;
    outline: none;
    border: none;
    border-bottom: 1px solid yellow;
    font:bold 1.4em monospace;
}
body.dark div.wconfigAccount div.properties input.invalid {
    border-bottom: 4px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-top: 4px solid red;
}

body.dark div.wconfigAccount div.properties input:focus,
body.dark div.wconfigAccount div.properties input:focus,
body.dark div.wconfigAccount div.properties input:focus
{
    border: none;
    border-bottom: 2px solid rgb(0, 255, 0);
}
body.dark div.wconfigAccount div.properties input[type="color"] {
    border: none;
    background-color: black;
}
body.dark div.image-selection-option {
    background-color: rgba(105, 0, 105, 0.616);
    min-width: 300px;
    max-height: 90vh;
    padding: 2px;
    width: calc(100vw - 4);
    position:fixed;
    top: -94vh;
    left: 0px;
    right: auto;
    bottom: auto;
    z-index: 80;
    transition: 400ms top linear;
    
}
body.dark div.image-selection-option.moveForView {
    top: 0px;
}
body.dark div.image-selection-option div.collection-images::-webkit-scrollbar,
body.dark div.image-selection-option div.collection-images::-webkit-scrollbar-button,
body.dark div.image-selection-option div.collection-images::-webkit-scrollbar-thumb,
body.dark div.image-selection-option div.collection-images::-webkit-scrollbar-track {
    appearance: none;
}
body.dark div.image-selection-option div.collection-images::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
body.dark div.image-selection-option div.collection-images::-webkit-scrollbar-button {
    display: none;
}
body.dark div.image-selection-option div.collection-images::-webkit-scrollbar-track {
    width: 10px;
    height: auto;
}
body.dark div.image-selection-option div.collection-images::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--barScroll-color);
    border-radius: 5px;
}

body.dark div.image-selection-option div.collection-images {
    z-index: 80;
    background-color: transparent;
    overflow-x: auto;
    overflow-y: auto;
    height: 80vh;
    width: 100vw;
    text-align: center;
}
body.dark div.image-selection-option div.collection-images figure {
    width: 300px;
    background-color: black;
    display: inline-block;
    margin: 5px;
}
body.dark div.image-selection-option div.collection-images figure figcaption {
    text-align: center;
    font: bolder 1.8rem monospace;
    color: white;
}
body.dark div.image-selection-option div.collection-images figure figcaption input[type="radio"],
body.dark div.image-selection-option div.collection-images figure figcaption input[type="radio"] * {
    appearance: none;
}
body.dark div.image-selection-option div.collection-images figure figcaption input[type="radio"] {
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-color: yellow;
    cursor: pointer;
}
body.dark div.image-selection-option div.collection-images figure figcaption input[type="radio"]:checked {
    clip-path: polygon(
        13px 0px,
        14px 16px,
        28px 4px,
        28px 14px,
        9px 28px,
        5px 0px
        );
}
body.dark div.image-selection-option div.collection-images figure img {
    width: 300px;
    height: auto;
}

body.dark div.image-selection-option div.controls-management2 {
    background-color: transparent;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    align-content: stretch;
}
body.dark div.image-selection-option div.controls-management2 svg {
    transform: rotate(0deg) scale(1);
    transition: 350ms transform linear;
}
body.dark div.image-selection-option div.controls-management2 svg:hover {
    transform: rotate(5deg) scale(1.2);
}

/* codigo externo: (ultimo) */

/*Para dispositivos pequeños es necesario 520px como maximo*/
@media all and (max-width: 810px) {
    body.dark main#allContent {
        background-color: transparent;
        width:100vw;
        height: auto;
        min-height: calc(100vh - 56px);
    }
    body.dark main#allContent div.trackButton {
        background-color: transparent;
        z-index:2;
        position: fixed;
        width: 55px;
        height: calc(100vh - 56px);
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: var(--position-buttonY);
    }
    body.dark main#allContent div.trackButton button {
        background-color: var(--background-text-H);
        width:30px;
        height: 40px;
        cursor: pointer;
        clip-path: polygon(
            0px 0px,
            28px 20px,
            0px 40px
            );
            transition: 460ms background-color linear;
        }
    body.dark main#allContent div.trackButton button:hover {
        background-color: orange;
    }
    
    body.dark main#allContent article.content {
        border: 1px solid transparent;
    }
    body.dark main#allContent article.content header.ideal {
        color: var(--color-text-H);
        background-color: var(--background-text-H);
        font:bold var(--font-size-text-H) var(--font-text-family);
        font-style: var(--font-style-H);
        margin:1px 0px 0px 56px;
        text-align: var(--text-align-H);
        border-radius: 4px;
        text-decoration-line: var(--text-decoration-line-H);
        text-decoration-color: var(--text-decoration-color-H);
    }
    body.dark main#allContent article.content div.box-content {
        margin:1px 0px 0px 56px;
        width: auto;
        filter: blur(0px);
        transition: 255ms filter ease;
    }
    body.dark main#allContent article.content.blur {
        filter: blur(2px);
    }
    body.dark main#allContent article.content div.box-content canvas.diapositive {
        display: block;
        margin: auto;
    }
    body.dark main#allContent article.content div.box-content p {
        padding: 20px;
        border-radius: 1em; 
        background-color: var(--background-text-C);
        color: var(--color-text-C);
        font:bold var(--font-size-C) var(--font-family-C);
        text-align: var(--text-align-C);
    }
    body.dark main#allContent section.menu {
        z-index: 33;
        background-color: var(--background-text-H);
        border-radius: 0px;
        border-top-right-radius: 1em;
        width: 55vw;
        height: calc(100vh - 56px);
        position: fixed;
        top:56px;
        left:0px;
        right: auto;
        bottom: auto;
        transition: 255ms top linear;
    }
    body.dark main#allContent section.menu.hidden {
        top:calc(-100vh + 56px);
    }
    body.dark main#allContent section.menu div.trackExit {
        background-color: black;
        color: red;
        padding: 8px;
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        justify-content: space-between;
    }
    body.dark main#allContent section.menu div.trackExit button.collapse {
        background-color: black;
        color: red;
        border: none;
        font-size: 2em;
        cursor: pointer;
    }
    body.dark main#allContent section.menu div.trackExit button.collapse:hover {
        background-color: yellow;
    }
    body.dark main#allContent section.menu div.trackExit div.theme {
        background-color: transparent;
        color: white;
        cursor: pointer;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: flex-start;
    }
    body.dark main#allContent section.menu div.trackExit div.theme div.viewChange {
        width:52px;
        height: 20px;
        background-color: #444;
        border-radius: 1em;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
    }
    body.dark main#allContent section.menu div.trackExit div.theme div.viewChange::before {
        content: '';
        background-color: white;
        display:block;
        width: 18px;
        height: 18px;
        border-radius: 1em;
    }

    body.dark main#allContent section.menu div.trackExit div.theme input {
        position: absolute;
        opacity: 0;
    }
    body.dark main#allContent section.menu nav {
        padding: 1px;
        background-color: var(--background-text-M);
        border: 1px solid transparent;
        margin:0px;
    }
    body.dark main#allContent section.menu nav ol.options::-webkit-scrollbar,
    body.dark main#allContent section.menu nav ol.options::-webkit-scrollbar-button,
    body.dark main#allContent section.menu nav ol.options::-webkit-scrollbar-thumb
    {
        appearance: none;
    }
    body.dark main#allContent section.menu nav ol.options::-webkit-scrollbar {
        width: 12px;
        height: auto;
        background-color: none;
    }
    body.dark main#allContent section.menu nav ol.options::-webkit-scrollbar-button {
        display: none;
    }
    body.dark main#allContent section.menu nav ol.options::-webkit-scrollbar-thumb {
        width:12px;
        background-color: var(--barScroll-color);
        border-radius: 1em;
    }
    body.dark main#allContent section.menu nav ol.options {
        list-style-type: none;
        overflow-y: auto;
        overflow-x:hidden;
        margin:0px;
        padding: 0px;
        height:70vh;
        
        display:grid;
        grid-template-columns: repeat(1, 100%);
        grid-auto-flow: row dense;
        grid-auto-rows: max-content;
        column-gap:6px;
        row-gap: 20px;
        align-content: space-around;
        justify-content: space-evenly;
        justify-items: space-around;
        justify-items: stretch;
    }
    body.dark main#allContent section.menu nav ol.options li.item a,
    body.dark main#allContent section.menu nav ol.options li.item {
        background-color: var(--background-text-H);
        text-decoration: none;
        cursor:pointer;
        margin:0px;
        margin-left:2px;
        margin-right:2px;
        color: var(--color-text-H);
        font:bold var(--font-size-M) var(--font-text-family);
        font-style: var(--font-style-H);
        text-align: var(--text-align-H);
        border-radius: 1em;
        scale: 1;
        transition: 300ms scale linear;
    }
    body.dark main#allContent section.menu nav ol.options li.item.actual {
        scale: 1.36;
        color: var(--color-text-C);
        background-color:var(--background-text-C);
    }
    body.dark main#allContent section.menu nav ol.options li.item:hover {
        scale: 1.3;
        text-decoration-line:underline;
    }
    body.dark main#allContent article#articleContent div.userAccount {
        --color-text-C: black;
        /* layer #1 */
        background-color: var(--background-text-A);
        color: var(--color-text-A);
        padding:8px;
        text-align: left;
    }
    body.dark main#allContent article#articleContent div.userAccount figure {
        /* layer #2 */
        background-color: transparent;
        margin:0px 0px 0px 0px;
        padding: 0px;
        width:calc(100%);
        display:flex;
        flex-flow: column wrap;
        align-items:center;
        justify-content:flex-end;
    }
    body.dark main#allContent article#articleContent div.userAccount figure img {
        border-radius: var(--border-radius);
        margin: 0px 0px 0px 0px;
        width: 75%;
        max-width: 350px;
        height: auto;
    }
    body.dark main#allContent article#articleContent div.userAccount figure figcaption {
        text-align: center;
        color: var(--color-text-A2);
        font-size: var(--font-size-A);
        font-style: var(--font-style-A);
        font-family: var(--font-family-A);
        margin:0px 0px 0px 0px;
        width:100%;
    }
    body.dark main#allContent article#articleContent div.userAccount hr {
        border-color: var(--color-text-A);
    }
    body.dark main#allContent article#articleContent div.userAccount figure div.email-user {
        padding: 0px;
        margin:0px 0px 0px 0px;
        color: var(--color-text-A);
        font-size: var(--font-size-C);
        font-style: var(--font-style-C);
        font-family: serif;
        letter-spacing: 2px;
    }
    body.dark main#allContent article#articleContent div.userAccount pre.info {
        background-color: transparent;
        white-space: normal;
        word-wrap: normal;
        color: var(--color-text-A);
        font-size: var(--font-size-A2);
        font-style: var(--font-style-A);
        font-family: var(--font-family-A);
        margin:0px 0px 0px 0px;
    }
    body.dark main#allContent article#articleContent div.userAccount pre i {
        margin:0px 0px 0px 0px;
        text-decoration-line:underline;
        text-decoration-color: var(--color-text-A);
        text-decoration-style: solid;
    }
}

@media all and (min-width:811px) {
    body.dark main#allContent {
        background-color: red;
    }
}